<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @brewery.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @brewery.address1 %>
</p>

<p>
  <strong>City:</strong>
  <%= @brewery.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @brewery.state %>
</p>

<p>
  <strong>Code:</strong>
  <%= @brewery.code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @brewery.country %>
</p>

<p>
  <strong>Descript:</strong>
  <%= @brewery.descript %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
