<%= form_with(model: beer) do |form| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
        <% beer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :brewery_id %>
    <%= form.text_field :brewery_id %>
  </div>

  <div class="field">
    <%= form.label :cat_id %>
    <%= form.text_field :cat_id %>
  </div>

  <div class="field">
    <%= form.label :style_id %>
    <%= form.text_field :style_id %>
  </div>

  <div class="field">
    <%= form.label :abv %>
    <%= form.text_field :abv %>
  </div>

  <div class="field">
    <%= form.label :ibu %>
    <%= form.text_field :ibu %>
  </div>

  <div class="field">
    <%= form.label :srm %>
    <%= form.text_field :srm %>
  </div>

  <div class="field">
    <%= form.label :upc %>
    <%= form.text_field :upc %>
  </div>

  <div class="field">
    <%= form.label :last_mod %>
    <%= form.text_field :last_mod %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
