<p id="notice"><%= notice %></p>

<h1>Beers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brewery</th>
      <th>Style</th>
      <th>Abv</th>
      <th>Ibu</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.brewery_name %></td>
        <td><%= beer.style_id %></td>
        <td><%= beer.abv %></td>
        <td><%= beer.ibu %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer', new_beer_path %>
